name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Test with pytest
      run: |
        conda install -c conda-forge papermill
        conda install -n analysis_1 jupyter
        conda activate analysis_1
        jupyter kernelspec install --user --name analysis_1
        $CONDA/bin/papermill ./mynotebook.ipynb -p alpha 10 --inject-output-path ./test.ipynb -k analysis_1
